* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo {
  font-family: 'Allura', cursive;
  font-size: 80px;
  text-align: left;
  padding-top: 20px; }

.form {
  background: #FFE8D6;
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px; }

.form__label {
  display: block;
  color: #CB997E;
  font-size: 16px;
  position: relative; }

.textarea {
  background: white;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  color: #ff0;
  resize: none; }

.footer {
  margin: 0;
  padding: 0;
  background-color: white; }

.redesLinks {
  display: flex;
  width: 30px;
  height: 30px;
  margin: auto; }

.socialItems {
  list-style: none; }

.socialItems a {
  padding: 10px 20px;
  font-size: 40px;
  color: black; }

.outer-footer {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 10px;
  background-color: grey; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0; }

.titulo {
  font-family: 'Allura', cursive;
  font-size: 60px;
  text-align: left;
  padding-top: 20px; }

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 1s; }

a img:hover {
  transform: scale(1.2, 1.2);
  overflow: visible; }

.imgServicios {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto; }

.titulo {
  font-family: 'Allura', cursive;
  font-size: 60px;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px; }

.containerServicios {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100px 100px 100px;
  justify-content: center; }
  .containerServicios div {
    padding: 15px;
    list-style-type: none;
    font-size: 20px;
    font-style: normal;
    font-family: 'Bitter', serif; }

p {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0px; }

.header nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100vw; }
  .header nav ul__list {
    display: inline-flex; }
    .header nav ul__list a {
      color: #fff;
      padding: 1em;
      margin: 20px; }
