
@each $iconos in fb, ig, mail,tel{
    .#{$iconos}-icon{
        background-image: url("../assets/iconos/#{$iconos}.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}



.icons{
    width: 30px;
    height: 30px;
}

.form{
    margin: 50px auto;
}

footer li{
    list-style: none;
}
.redes{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & li{
        cursor: pointer;
    }
}





