
.footer{
  margin: 0;
  padding: 0;
  background-color: white;

}
.redesLinks{
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
  }
.socialItems {
   list-style: none;
  }

.socialItems a {
  padding: 10px 20px;
  font-size: 40px;
  color: black;
}
.outer-footer{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 10px;
  background-color: grey;
}