
  .imgServicios {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto; }

  .containerServicios {
    display: grid;
    grid-template-columns: 33% 33% 33%; grid-template-rows: 100px 100px 100px;
    justify-content: center;
    & div {
      padding: 15px;
      list-style-type: none;
      font-size: 20px;
      font-style: normal;
      font-family: 'Bitter', serif;
    }  
  }
